<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <title>Kategori</title>
      <link rel="stylesheet"   th:href="@{/css/design.css}" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</head>




<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="./user.html" class="simple-text logo-normal">
          Anasayfa
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="./user.html">
                <p>İlan Listelerim</p>
            </a>
          </li>
          <li>
            <a href="./user.html">
              <p>Profilim</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="./user.html">İlan </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>

        </div>
      </nav>
      <!-- End Navbar -->
      <!-- <div class="panel-header panel-header-sm">


</div> -->
      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <center><div class="card">
              <div class="card-header">
              </div>
              <div class="image">
                <img src="../assets/img/araba.jpg" alt="..." style="border-radius:40px;max-width: 80%;height: auto; margin-top:5px;" />
              </div>
            </div>
          </center>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Tekliflerim</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled team-members">
                <li>
                  <div class="row">

                    <div class="col-md-7 col-7">A Mağazası :
                      <span class="text-muted">
                        <small>123.00</small>
                      </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row" style="margin-top:5px">
                    <div class="col-md-7 col-7">B Mağazası :
                      <span class="text-muted">
                        <small>150.00</small>
                      </span>
                    </div>
                    <div class="col-md-3 col-3 text-right">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row" style="margin-top:5px;">
                    <div class="col-md-7 col-7">C Mağazası :
                      <span class="text-muted">
                        <small>180.00</small>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          </div>

          <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">İlanı Güncelle</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>İlan Tarihi</label>
                        <input type="text" class="form-control"  style="background-color:white; "  value="İlan Tarihi" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>İlan Başlığı</label>
                        <input  class="form-control"  value="İlan Başlığı" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label> İlan Açıklaması</label>
                        <input type="text" class="form-control"  value="İlan Açıklaması" style="width:100%"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Fotoğraf </label>
                        <div class="form-control" id="fileName" style="background:#dce4ec;color:#666666;padding:0 10px;height:40px;line-height:40px;">Fotoğraf Yükle</div>
                        <input type="file" class="form-control" name="chooseFile" id="chooseFile" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label> İlan Statüsü</label>
                        <select class="form-control">
                          <option value="durum"> Durum Belirle</option>
                            <option value="Kapat">İlanı Kapat</option>
                            <option value="aç">İlanı Aç </option>
                            <option value="beklet">İlanı Beklet</option>
                         </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round" style="margin-right:450px;">İlanı Güncelle</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li>
                  <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
                </li>
                <li>
                  <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
                </li>
                <li>
                  <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
                </li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>
