<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Kategori</title>
    <link rel="stylesheet"   th:href="@{/css/design.css}" />
    <link rel="stylesheet"   th:href="@{/css/paper-dashboard.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</head>

<body class="">


<div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <a th:href="@{/}" class="simple-text logo-normal">
                Anasayfa
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a th:href="@{/getCategory}" class="active">
                        <i class="nc-icon nc-single-02"></i>
                        <p>Kategori</p>
                    </a>
                </li>
                 <li>
                     <a th:href="@{/getSubCategory}" class="active">
                         <i class="nc-icon nc-single-02"></i>
                         <p>Alt Kategori</p>
                     </a>
                 </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" >İlan </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:href="@{/logOut}" class="nav-link btn-rotate" >Logout
                            <p>
                                <span class="d-lg-none d-md-block">Account</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-sm">


  </div> -->
  <div style="margin-left: 20px; margin-top: 50px;" >

    <form th:action="@{/saveCategory}" method="post" th:object="${categoryForm}" >
                                  <div class="row">
                   <div class="form-group">
                         <label>Kategori Ekle</label>
                         <input class="form-control" type="text" style="background-color:white; width: 400px; height: 40px;"  name="categoryName"  placeholder="Kategori"  th:field="*{categoryName}" />
                       </div>
                      <div class="form-group" style="margin-top: 12px; margin-left:100px;">
                        <button type="submit" class="btn btn-primary btn-round" style="margin-right:20px; ">Kaydet</button>
                         </div>
                        </div>
     </form>
       </div >



<table id="example" class="display" >
        <thead>
            <tr>
                <th>Kategori</th>
                <th>Kategori İnput</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody >
                <tr th:each="category: ${categories}">
                <form method="post" th:action="${'/editCategory/' + category.id}"  th:object="${categoryForm}">
                <td th:text="${category.categoryName}"> </td>
                <td><input type="text" id="row-1-age" name="row-1-age" th:field="*{categoryName}" th:placeholder="${category.categoryName}"  /> </td>
                <td><button class="btn-success" >Düzenle</button></td></form>
                <td><a th:href="${'/deleteCategory/' + category.id}"  class="btn-danger">Sil</a></td>
                 </tr>
        </tbody>
    </table>

        <footer class="footer footer-black  footer-white " style="margin-top: 700px;">
            <div class="container-fluid">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li>
                                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
                            </li>
                            <li>
                                <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
                            </li>
                            <li>
                                <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
</div>
   <script language="JavaScript">
            $(document).ready(function() {
            	//Only needed for the filename of export files.
            	//Normally set in the title tag of your page.
            	document.title='Simple DataTable';
            	// DataTable initialisation
            	$('#example').DataTable(
            		{
            			"paging": true,
            			"autoWidth": true,
            			"buttons": [
            				'colvis',
            				'copyHtml5',
                    'csvHtml5',
            				'excelHtml5',
                    'pdfHtml5',
            				'print'
            			]
            		}
            	);
            });
            </script>

</body>

</html>
