<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>İlan Detayları</title>
    <link rel="stylesheet"   th:href="@{/css/design.css}" />
    <link rel="stylesheet"   th:href="@{/css/index.css}"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" />
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" />



</head>

<body class=""  style="background-color: lightgray;">


<div class="wrapper "  style="background-color: lightgray;">
    <div class="main-panel"  style="background-color: lightgray; width: 100%">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul>
                  <a th:href="@{/}" class="nav-link btn-rotate" >Anasayfa</a>
                </ul>
                  <ul>
                  <a th:href="${ '/myAccount/' + user}" class="nav-link btn-rotate" th:if="${ control eq true || control eq false || user ne null}">Profilim</a>
                  </ul>
                <ul>
                 <a th:href="@{/logOut}" class="nav-link btn-rotate" th:if="${control eq true || control eq false}">Logout</a>
              </ul>
            </div>
        </nav>

        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-sm">asd


  </div> -->
        <div class="content" >
            <div class="row">
                <div class="col-md-4">
                    <center><div class="card">
                        <div class="card-header">
                        </div>
                        <div class="image">
                            <img crossorigin="anonymous"
                                 src="https://arbimg15.mncdn.com/ilanfotograflari/2019/02/20/10909336/af7e2613-9efc-4832-a105-61c542e9e61d_image_for_silan_10909336_580x435.jpg"
                                 data-src="https://arbimg18.mncdn.com/ilanfotograflari/2019/04/02/11190595/410073bb-d9f9-4a10-a8eb-117b96fa65f2_image_for_silan_11190595_160x120.jpg" class="mw100 w100 loaded" alt="2013 MODEL MİTSUBİSHİ L200 PİCK-UP  İNTİVE PAKET 4x4 , MAKYAJLI KASA" data-was-processed="true"
                             style="width: 200px; height: 170px;"/>

                        </div>
                    </div>
                    </center>
                </div>


                <div class="col-md-8"  >
                    <div class="card card-user">
                        <div class="card-header">
                            <h5 class="card-title">İlan Detay</h5>
                        </div>
                        <div class="card-body">
                        <form th:action="${'/editPost/' + post.id}" method="post" th:object="${postForm}">
                                <div class="row" >
                                    <div class="col-md-6 pr-1" >
                                        <div class="form-group">
                                            <label>İlan Tarihi</label>
                                            <input class="form-control" type="text" disabled=""   name="first_name"  th:value="${post.createdAt}"    />
                                        </div>
                                    </div>

                                    <div class="col-md-6 pr-1" th:if="${control eq true}">
                                        <div class="form-group">
                                            <label>İlan Başlığı</label>
                                            <input class="form-control" type="text" style="background-color:white;"  name="first_name"    th:value="${post.title}" th:field="*{title}" />
                                        </div>
                                    </div>
                                     <div class="col-md-6 pr-1" th:if="${control ne true}">
                                    <div class="form-group">
                                        <label>İlan Başlığı</label>
                                        <input class="form-control" type="text" name="first_name"  disabled=""  th:value="${post.title}" th:field="*{title}" />
                                    </div>
                                </div>
                                </div>
                                <div class="row" >
                                    <div class="col-md-6 pr-1" >
                                    <div class="form-group">
                                    <label>İlan Sahibi</label>
                                    <input class="form-control" type="text"  name="first_name"  disabled=""  th:value="${user.name + '  ' + user.lastName}" />
                                    </div>
                                    </div>
                              <div class="col-md-6 pr-1" th:if="${control eq true}">
                               <div class="form-group">
                                   <label>İlan Açıklaması</label>
                                   <input class="form-control" type="text" style="background-color:white;"  name="first_name"  th:value="${post.description}"  th:field="*{description}"   />
                               </div>
                           </div>
                           <div class="col-md-6 pr-1" th:if="${control ne true}">
                               <div class="form-group">
                                   <label>İlan Açıklaması</label>
                                   <input class="form-control" type="text"  name="first_name" disabled=""  th:value="${post.description}"   />
                               </div>
                           </div>
                            </div>
                                <div class="row" >
                                   <div class="col-md-12 pr-1" >
                                       <div class="form-group">
                                           <label>İlan Adresi</label>
                                           <input class="form-control" type="text" disabled=""  name="first_name"  th:value="${user.addressLine + '     '+  user.cityName + '      ' + user.townName }"    />
                                       </div>
                                   </div>
                              </div>
                                <div class="row" >
                                    <div class="col-md-6 pr-1" >
                                        <div class="form-group">
                                            <label>İlan Sahibi Email</label>
                                            <input class="form-control" type="text"  disabled=""  name="first_name"  th:value="${user.email}"    />
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-1" >
                                        <div class="form-group">
                                            <label>İlan Sahibi Telefon</label>
                                            <input class="form-control" type="text"  disabled=""  name="first_name"    th:value="${user.phoneNumber}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                          <div class="col-md-6 pr-1" th:if="${control eq true}">
                                   <div class="form-group">
                                       <label>Kategori</label>
                                         <select class="form-control"  style="height: 40px;">
                                      <option value="Beklet">Beklet</option>
                                      <option value="Kapat">Kapat</option>
                                      <option value="Aç">Aç</option>
                                   </select>
                                   </div>
                               </div>
                               <div class="col-md-6 pr-1" th:if="${control eq true}">
                                   <div class="form-group">
                                       <label>Alt Kategori</label>
                                     <select class="form-control"  style="height: 40px;">
                                        <option value="Beklet">Beklet</option>
                                        <option value="Kapat">Kapat</option>
                                        <option value="Aç">Aç</option>
                                     </select>

                                   </div>
                               </div>
                        </div>
                                 <div class="row" >
                                  <div class="col-md-6 pr-1" th:if="${control eq true}" >
                                      <div class="form-group">
                                          <label>İlan Statüsü</label>
                                            <select class="form-control"  style="height: 40px;">
                                               <option value="Beklet">Beklet</option>
                                               <option value="Kapat">Kapat</option>
                                               <option value="Aç">Aç</option>
                                            </select>
                                      </div>
                                  </div>
                                  </div>
                               <div class="row">
                                   <div class="col-md-4 pr-1" th:if="${control eq true}">
                                       <div class="form-group">                                                                                             
                                        <center>  <input class="form-control" type="submit" style="background-color: #045d68; color: white; margin-left: 260px;"  name="first_name"  value="İlanı Güncelle"  />  </center>
                                       </div>
                                   </div>
                               </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" th:if="${control ne true}">
                <h2 class="homePageHeader tac bold"> İlanlar</h2>
                <div class="row ">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-xs-6" th:each="post : ${posts}">
                            <div class="listing-box-item should-hover  oncelikli">
                                <div class="inner-container">
                                    <div class="hover-container">
                                        <a th:href="${ '/postShow/' + post.id}"  >
                                            <div class="image-container">
                                                <img crossorigin="anonymous" src="https://arbimg18.mncdn.com/ilanfotograflari/2019/04/02/11190595/410073bb-d9f9-4a10-a8eb-117b96fa65f2_image_for_silan_11190595_160x120.jpg" data-src="https://arbimg18.mncdn.com/ilanfotograflari/2019/04/02/11190595/410073bb-d9f9-4a10-a8eb-117b96fa65f2_image_for_silan_11190595_160x120.jpg" class="mw100 w100 loaded" alt="2013 MODEL MİTSUBİSHİ L200 PİCK-UP  İNTİVE PAKET 4x4 , MAKYAJLI KASA" data-was-processed="true" />
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-container">
                                        <a th:href="${ '/advisermentInformation/' + post.id}"  target="_blank">
                                            <div class="df df-jcsbetween">
                                                <p class="model-city"  th:text="${post.cityId}"></p>
                                            </div>
                                            <center><div class="df df-jcsbetween" style="margin-top: 10px;">
                                            <p class="model-city"  th:text="${post.description}" ></p>
                                            </div> </center>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="col-xs-12 homePageHeader" id="segmentify-header">Sizin İçin Önerilenler</h3>
                    </div>
                </div>
            </div>

            </div>
        </div>
        <footer class="footer footer-black  footer-white ">
            <div class="container-fluid">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li>
                                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
                            </li>
                            <li>
                                <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
                            </li>
                            <li>
                                <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
