
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow"/>

    <title>create-post-form - Bootsnipp.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <style type="text/css">
        .require {
            color: #666;
        }
        label small {
            color: #999;
            font-weight: normal;
        }
    </style>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />');
            else $('head > link').filter(':first').replaceWith(defaultCSS);
        }
        $( document ).ready(function() {
            var iframe_height = parseInt($('html').height());
            window.parent.postMessage( iframe_height, 'https://bootsnipp.com');
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ust").change(function () {
                $.ajax({
                    url:"/kategorigetir"+$(this).val(),
                    type:'GET',
                    dataTtpe:'json',
                    success: function(data) {
                        console.log(data);
                        $.each(data,function (i,deneme) {
                            $("#alt").append('<option value="' + deneme.id + '">' + deneme.subname + '</option>');

                        })

                    }
                })

            })


        })
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <h1>Create post</h1>

            <form action="#" th:action="@{/ilanver}" th:object="${ilanform}" method="POST">



                <div class="form-group">
                    <label >Baslik <span class="require">*</span></label>
                    <input type="text" class="form-control" name="title" th:field="*{baslik}" />
                </div>
                <div class="form-group">
                    <label >Ana Kategori<span class="require">*</span></label>
                    <select class="form-control" name="kategori" id="ust" th:field="*{kategori}">
                        <option th:each="kategori : ${kategorier}" th:value="${kategori.id}" th:text="${kategori.kategori_adi}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label >foto</label>
                    <input type="file" class="form-control" />
                </div>
                <div class="form-group">
                    <label >Description</label>
                    <textarea rows="5" class="form-control" name="description" th:field="*{aciklama}"></textarea>
                </div>

                <div class="form-group">
                    <p><span class="require">*</span> - required fields</p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Create
                    </button>
                    <button class="btn btn-default">
                        Cancel
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>
